/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif; */
p {
  display: inline;

}
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 80%;
  text-align: right;
  font-size: 18px;
}
